<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
  <appSettings>
    <add key="DBUSER" value="op" />
    <add key="DBPASS" value="Ate10" />
    <add key="DBURL" value="jfmcrossdb.jf.medier" />
    <add key="DBPORT" value="1521" />
    <add key="APIKEY" value="b39cc015fd21ee75228d88b067203915" />
    <add key="AUTHUSER" value="iouser" />
    <add key="AUTHPASS" value="Fs4you2" />
    <add key="AUTHURL" value="https://jyskfynske.drpublish.aptoma.no/io/auth" />
    <add key="EDITIONURL" value="https://jfm-ad-ingest.prod.ecs.aws.aptoma.no/edition" />
    <add key="PAGEURL" value="https://jfm-ad-ingest.prod.ecs.aws.aptoma.no/page" />
    <add key="IMGURL" value="https://jyskfynske.drpublish.aptoma.no/io/asset" />
    <add key="TIMERINTERVAL" value="10000" />
    <add key="INPUTDIR" value="C:\Temp\aptoma\in\" />
    <add key="ERRORDIR" value="C:\Temp\aptoma\error\" />
    
  </appSettings>
</configuration>